# Set default behavior to automatically normalize line endings
* text=auto

# Explicitly declare text files to be normalized and converted to LF in repository
*.c text
*.cpp text
*.h text
*.html text
*.css text
*.js text
*.json text
*.md text
*.py text

# Declare binary files to be untouched
*.jpg binary
*.png binary
*.gif binary
*.zip binary
*.pdf binary
